body{
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	font-family: "微软雅黑";
}

/* 站点导航 css */



*{
    margin:0;
}
body{
	background-color: #2F2F2F;
}


.siteMapWrapper{
    max-width:900px;
    margin:80px auto;
}
.siteMapWrapper li{
    position: relative;
    width: 112px;
    height: 112px;
    list-style:none;
    margin: 5px;
    display: inline-block;
    perspective: 300px;
  }
  .picBox{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -56px;
    animation: 200ms ease-out 0ms 1 normal forwards;
  }

.sitemap-sub-title{
	white-space: nowrap;
	font-weight: bold;
	color: #3c4858;
	line-height: 1.3;
	box-sizing: border-box;
	max-height: 2rem;
	font-size: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
}


.sitemap-sub-intro{
  margin: 0.3rem 0 0 0;
  max-height: 2rem;
  font-size: 0.85rem;
  line-height: 1.2;
  color: #718096;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hide{
    color:#fff;
    background-color:#fff;
    text-align:center;
    line-height:112px;
    transform: translate3d(0,0,-1px);
    /* 3D空间内移动一个元素的位置 */
}

.sitemapCard{
	height: 100%;
	width: 100%;
	padding: 7%;
	background: #fffdfb;
}

.sitemap-avatar-container, .sitemap-intro{
	height: 35%;
	width: 100%;
	padding: 4%;
}

.sitemap-avatar{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.sitemap-avatar img{
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;

	bottom: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.hide-sitemap-screenshot img{
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
}




.in-top .hide,
.out-top .hide
 {
    transform-origin: 0% 100%;
    transform: translate3d(0, -100%, 0) rotate3d(1,0,0,90deg);
}
.in-top .picBox{
    animation-name: in-top;
    animation-play-state: running;
}
.out-top .picBox{
    animation-name: out-top;
    animation-play-state: running;
}
@keyframes in-top {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(-1,0,0,90deg)}
} 

@keyframes out-top {
    from {transform: rotate3d(-1,0,0,90deg)}
    to   {transform: rotate3d(0,0,0,0deg)}
}
.in-right .hide,
.out-right .hide {
          transform-origin: 0% 0%;
          transform: translate3d(100%, 0, 0) rotate3d(0,1,0,90deg);
}
.in-right .picBox{
    animation-name: in-right;
    animation-play-state: running;
}
.out-right .picBox{
    animation-name: out-right;
    animation-play-state: running;
}
@keyframes in-right {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(0,-1,0,90deg)}
}

@keyframes out-right {
    from  {transform: rotate3d(0,-1,0,90deg)}
    to    {transform: rotate3d(0,0,0,0deg)}
}

.in-bottom .hide,
.out-bottom .hide {
          transform-origin: 0% 0%;
          transform: translate3d(0, 100%, 0) rotate3d(-1,0,0,90deg);
}
.in-bottom .picBox{
    animation-name: in-bottom;
    animation-play-state: running;
}
.out-bottom .picBox{
    animation-name: out-bottom;
    animation-play-state: running;
}
@keyframes in-bottom {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(1,0,0,90deg)}
}
@keyframes out-bottom {
    from  {transform: rotate3d(1,0,0,90deg)}
    to    {transform: rotate3d(0,0,0,0deg)}
}
.in-left .hide,
.out-left .hide {
          transform-origin: 100% 0;
          transform: translate3d(-100%,0,0) rotate3d(0,-1,0,90deg);
}
@keyframes in-left {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(0,1,0,90deg)}
}
@keyframes out-left {
    from  {transform: rotate3d(0,1,0,90deg)}
    to    {transform: rotate3d(0,0,0,0deg)}
}
.in-left .picBox{
          animation-name: in-left;
          animation-play-state: running;
}
.out-left .picBox{
          animation-name: out-left;
          animation-play-state: running;
}





@font-face {
  font-family: "iconfont"; /* Project id 3859637 */
  src: url('//at.alicdn.com/t/c/font_3859637_5bjqeut5pc9.woff2?t=1745665408375') format('woff2'),
       url('//at.alicdn.com/t/c/font_3859637_5bjqeut5pc9.woff?t=1745665408375') format('woff'),
       url('//at.alicdn.com/t/c/font_3859637_5bjqeut5pc9.ttf?t=1745665408375') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongshi:before {
  content: "\e750";
}

.icon-gongshi1:before {
  content: "\e61d";
}

.icon-a-checkformula:before {
  content: "\e70e";
}

.icon-a-checkformula1:before {
  content: "\e82e";
}

.icon-pinglunliebiao:before {
  content: "\e72c";
}

.icon-pinglun:before {
  content: "\e610";
}

.icon-icon-pinglunguanli-pinglunliebiao:before {
  content: "\e625";
}

.icon-pinglunguanli:before {
  content: "\e604";
}

.icon--_gerenzhongxin-pinglunliebiao:before {
  content: "\e691";
}

.icon-pinglunliebiao1:before {
  content: "\e613";
}

.icon-a-bianzu1:before {
  content: "\e60d";
}

.icon-7:before {
  content: "\e606";
}

.icon-feiji:before {
  content: "\e90a";
}

.icon-wiki:before {
  content: "\e60f";
}

.icon-WIKI:before {
  content: "\e611";
}

.icon-wiki_b:before {
  content: "\e60a";
}

.icon-huitu:before {
  content: "\e60e";
}

.icon-tongyong-huatugongju2:before {
  content: "\e72b";
}

.icon-gongju:before {
  content: "\e614";
}

.icon-gongju1:before {
  content: "\e6cf";
}

.icon-jisuan:before {
  content: "\e680";
}

.icon-xiangshang:before {
  content: "\e601";
}

.icon-zuojiantou:before {
  content: "\e64e";
}

.icon-xiangshang2:before {
  content: "\e76e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-youjiantou:before {
  content: "\e62d";
}

.icon-sousuo1:before {
  content: "\e665";
}

.icon-shuaxin:before {
  content: "\e6b2";
}

.icon-youjiantou1:before {
  content: "\e644";
}

.icon-youjiantou2:before {
  content: "\e678";
}

.icon-shuaxin1:before {
  content: "\ec08";
}

.icon-zuojiantou1:before {
  content: "\e642";
}

.icon-sousuo2:before {
  content: "\e612";
}

.icon-zuojiantou2:before {
  content: "\e629";
}

.icon-xiangshang1:before {
  content: "\e645";
}

.icon-sousuo3:before {
  content: "\e6c7";
}

.icon-quanxianfuzhi:before {
  content: "\e62b";
}

.icon-icon-1:before {
  content: "\e62c";
}

.icon-xiangshangjiantou:before {
  content: "\e61f";
}

.icon-liaotianjilu:before {
  content: "\e663";
}

.icon-24gf-bubblesDots6:before {
  content: "\e95d";
}

.icon-24gf-bubblesDots4:before {
  content: "\e95e";
}

.icon-yangshi_icon_tongyong_chat:before {
  content: "\e664";
}

.icon-41shuoshuo:before {
  content: "\e658";
}

.icon-git:before {
  content: "\e799";
}

.icon-duomeit:before {
  content: "\e621";
}

.icon-meiti:before {
  content: "\e636";
}

.icon-xuniyingpan:before {
  content: "\ea6c";
}

.icon-guanyuwomen:before {
  content: "\e61e";
}

.icon-dingyue:before {
  content: "\e600";
}

.icon-pengyoufill:before {
  content: "\e745";
}

.icon-diqiu:before {
  content: "\e7b9";
}

.icon-wangzhan:before {
  content: "\e628";
}

.icon-chuansong:before {
  content: "\e602";
}

.icon-icon-:before {
  content: "\e62a";
}

.icon-lianjie:before {
  content: "\eadc";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-jiankong:before {
  content: "\eb37";
}

.icon-geren:before {
  content: "\e670";
}

.icon-shuji1:before {
  content: "\e6b7";
}

.icon-momo:before {
  content: "\e8d9";
}

.icon-tongji2:before {
  content: "\e61a";
}

.icon-tongjifenxi-xiangmubiaogetongji:before {
  content: "\e626";
}

.icon-train1:before {
  content: "\e742";
}

.icon-ic_fly:before {
  content: "\e6bb";
}

.icon-a-BlackHole:before {
  content: "\e95a";
}
















.tocbot-link {
    color: #d8d9da;
}

.toc-header, .toc-header > i {
    color: #d9dbdc;
}

.vvd_footer {
	color: #d9dbdc;
}
.vvd_footer a:link, 
.vvd_footer a:visited { 
	color:#d8d9da;
	text-decoration:none; 
} 

.vvd_footer a:hover, 
.vvd_footer a:active { 
	color:#40b9ee; 
	text-decoration:none; 
}

#leancloud-site-pv-container {
	color: #d9dbdc;
}

#leancloud-site-uv-container {
	color: #d9dbdc;
}

p.admonition-title {
    position: relative;
    margin: -0.8rem -0.6rem 0.8em -0.6rem!important;
    padding: 0.7rem 0.6rem 0.7rem 1.5rem;
    font-weight: 700;
    background-color: rgba(66,185,131,.1);
}

.admonition {
    font-size: .9em!important;
	line-height: 2;
}

.admonition {
    margin: 1.5625em 0;
    padding: 0.6rem;
    overflow: hidden;
    font-size: .64rem;
    page-break-inside: avoid;
    border-left: 0.3rem solid #42b983;
    border-radius: 0.3rem;
    box-shadow: 0 .1rem .4remrgba(0,0,0,.05),0 0 .05remrgba(0,0,0,.1);
    background-color: #fafafa;
}


p.admonition-title-blue {
    position: relative;
    margin: -0.8rem -0.6rem 0.8em -0.6rem!important;
    padding: 0.7rem 0.6rem 0.7rem 1.5rem;
    font-weight: 700;
    background-color: rgba(0,185,222,.1);
}

.admonition-blue {
    font-size: .9em!important;
	line-height: 2;
}

.admonition-blue {
    margin: 1.5625em 0;
    padding: 0.6rem;
    overflow: hidden;
    font-size: .64rem;
    page-break-inside: avoid;
    border-left: 0.3rem solid #00b8d4;
    border-radius: 0.3rem;
    box-shadow: 0 .1rem .4remrgba(0,0,0,.05),0 0 .05remrgba(0,0,0,.1);
    background-color: #fafafa;
}

::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}


 /* Waline CSS */

.wl-editor:focus, .wl-input:focus {
background: var(–waline-bgcolor-light);
}

.wl-editor {
    background: url("https://uipv4.zywvvd.com:33030/HexoFiles/images/waline-wapper2.webp") right top no-repeat;
    background-size: contain;
}
/*https://uipv4.zywvvd.com:33030/HexoFiles/images/waline-wapper.png*/


.wl-cards .wl-user::before {
    left: -13px;
    top: -8px;
    content: ' ';
    position: absolute;
    width: calc((var(--waline-avatar-size) * 19 / 13.7));
    height: calc((var(--waline-avatar-size) * 19 / 13.7));
    background: url("https://uipv4.zywvvd.com:33030/HexoFiles/images/touxiangkuang.gif") center/cover;
    opacity: .85;
    pointer-events: none;
    z-index: 2;
}


@media screen and (max-width: 767px) {
.wl-cards .wl-user::before {
    left: -12px;
    top: -9px;
    content: ' ';
    position: absolute;
    width: calc((var(--waline-avatar-size) * 22/21));
    height: calc((var(--waline-avatar-size) * 22/21));
    background: url("https://uipv4.zywvvd.com:33030/HexoFiles/images/touxiangkuang.gif") center/cover;
    opacity: 0.8;
    pointer-events: none;
    z-index: 2;
}
}


.wl-quote .wl-card-item .wl-user::before {
    background: 0 0;
}

