.headband {
  height: 3px;
  background: #06a2e4;
}
body {
  background: url("https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2456073132,2760496907&fm=26&gp=0.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.site-meta {
  background: #06a2e4;
}
.site-title:hover {
  letter-spacing: 0.1rem;
}
.site-subtitle {
  color: #fff;
}
.posts-expand .post-title-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #06a2e4;
  visibility: hidden;
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.posts-expand .post-title-link {
  color: #06a2e4;
}
.btn {
  border: 2px solid #06a2e4;
  color: #06a2e4;
}
.btn:hover {
  border-color: #06a2e4;
  color: #fff;
  background: #06a2e4;
}
a:hover,
span.exturl:hover {
  color: #06a2e4;
  border-bottom-color: #06a2e4;
}
.post-toc .nav .active-current > a:hover {
  color: #06a2e4;
}
.post-toc ol a:hover {
  color: #06a2e4;
  border-bottom-color: #06a2e4;
}
.post-toc .nav .active > a {
  color: #06a2e4;
  border-bottom-color: #06a2e4;
}
.sidebar-nav li:hover {
  color: #06a2e4;
}
.sidebar-nav .sidebar-nav-active:hover {
  color: #06a2e4;
}
.sidebar-nav .sidebar-nav-active {
  color: #06a2e4;
  border-bottom-color: #06a2e4;
}
#sidebar div.links-of-author.motion-element a:hover {
  color: #06a2e4;
  background: rgba(255,255,255,0);
}
.sidebar a:hover,
.sidebar span.exturl:hover {
  border-bottom-color: #06a2e4;
  color: #06a2e4;
}
.site-state-item-count {
  color: #06a2e4;
}
.pagination .prev:hover,
.pagination .next:hover,
.pagination .page-number:hover {
  border-top-color: #06a2e4;
}
.post-nav-item a:hover {
  color: #06a2e4;
  border-bottom: none;
}
/* webkit, opera, IE9 */
::selection {
  background: #06a2e4;
  color: #f7f7f7;
}
/* firefox */
::-moz-selection {
  background: #06a2e4;
  color: #f7f7f7;
}
.back-to-top:hover {
  background: #eee;
  color: #06a2e4;
}
#menu > li.menu-item-active > a {
  color: #06a2e4;
}
.menu-item-active a:after,
.menu .menu-item a:hover:after,
.menu .menu-item span.exturl:hover:after {
  background-color: #06a2e4;
}
.menu-item-active a,
.menu .menu-item a:hover,
.menu .menu-item span.exturl:hover {
  background: rgba(255,255,255,0);
  border-bottom-color: rgba(255,255,255,0);
}
.sidebar {
  background: rgba(255,255,255,0);
}
.sidebar-inner {
  background: rgba(255,255,255,0.8);
}
.pagination {
  background: rgba(255,255,255,0.8);
}
.pagination .page-number.current {
  color: #fff;
  background: #06a2e4;
}
.back-to-top,
.back-to-top:hover {
  background: rgba(255,255,255,0);
}
.post-block {
  background: rgba(255,255,255,0.8);
}
.btn {
  background: rgba(255,255,255,0);
}
.header-inner {
  background: rgba(255,255,255,0.8);
}
.main-inner {
  background: rgba(255,255,255,0.8);
}
.table-container {
  background: rgba(29,31,33,0.8);
}
table > tbody > tr:nth-of-type(odd) {
  background-color: rgba(29,31,33,0);
}
table > tbody > tr:hover {
  background-color: rgba(29,31,33,0);
}
pre,
.highlight {
  background: rgba(29,31,33,0);
}
.highlight .gutter pre {
  background: rgba(29,31,33,0.8);
}
.highlight .code pre {
  background: rgba(29,31,33,0);
}
.comments {
  background: rgba(255,255,255,0.8);
}
.post-copyright {
  border-left: 3px solid #06a2e4;
  background: rgba(255,255,255,0.3);
}
/* 行内代码块的自定义样式 */
code {
  color: #fff;
  background: rgba(6,162,228,0.8);
  margin: 2px;
  border: 1px solid #06a2e4;
}
.with-love {
  color: #008000;
}
.main-inner {
  background: rgba(255,255,255,0);
}
a,
span.exturl {
  border-bottom: 1px solid #06a2e4;
}
.tag-cloud a:hover {
  color: #06a2e4 !important;
}
