

/* 站点导航 css */



*{
    margin:0;
}
body{
	background-color: #2F2F2F;
}


.siteMapWrapper{
    max-width:900px;
    margin:80px auto;
}
.siteMapWrapper li{
    position: relative;
    width: 112px;
    height: 112px;
    list-style:none;
    margin: 5px;
    display: inline-block;
    perspective: 300px;
  }
  .picBox{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -56px;
    animation: 200ms ease-out 0ms 1 normal forwards;
  }

.sitemap-sub-title{
	white-space: nowrap;
	font-weight: bold;
	color: #3c4858;
	line-height: 1.3;
	box-sizing: border-box;
	max-height: 2rem;
	font-size: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
}


.sitemap-sub-intro{
  margin: 0.3rem 0 0 0;
  max-height: 2rem;
  font-size: 0.85rem;
  line-height: 1.2;
  color: #718096;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hide{
    color:#fff;
    background-color:#fff;
    text-align:center;
    line-height:112px;
    transform: translate3d(0,0,-1px);
    /* 3D空间内移动一个元素的位置 */
}

.sitemapCard{
	height: 100%;
	width: 100%;
	padding: 7%;
	background: #fffdfb;
}

.sitemap-avatar-container, .sitemap-intro{
	height: 35%;
	width: 100%;
	padding: 4%;
}

.sitemap-avatar{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.sitemap-avatar img{
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;

	bottom: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.hide-sitemap-screenshot img{
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
}




.in-top .hide,
.out-top .hide
 {
    transform-origin: 0% 100%;
    transform: translate3d(0, -100%, 0) rotate3d(1,0,0,90deg);
}
.in-top .picBox{
    animation-name: in-top;
    animation-play-state: running;
}
.out-top .picBox{
    animation-name: out-top;
    animation-play-state: running;
}
@keyframes in-top {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(-1,0,0,90deg)}
} 

@keyframes out-top {
    from {transform: rotate3d(-1,0,0,90deg)}
    to   {transform: rotate3d(0,0,0,0deg)}
}
.in-right .hide,
.out-right .hide {
          transform-origin: 0% 0%;
          transform: translate3d(100%, 0, 0) rotate3d(0,1,0,90deg);
}
.in-right .picBox{
    animation-name: in-right;
    animation-play-state: running;
}
.out-right .picBox{
    animation-name: out-right;
    animation-play-state: running;
}
@keyframes in-right {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(0,-1,0,90deg)}
}

@keyframes out-right {
    from  {transform: rotate3d(0,-1,0,90deg)}
    to    {transform: rotate3d(0,0,0,0deg)}
}

.in-bottom .hide,
.out-bottom .hide {
          transform-origin: 0% 0%;
          transform: translate3d(0, 100%, 0) rotate3d(-1,0,0,90deg);
}
.in-bottom .picBox{
    animation-name: in-bottom;
    animation-play-state: running;
}
.out-bottom .picBox{
    animation-name: out-bottom;
    animation-play-state: running;
}
@keyframes in-bottom {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(1,0,0,90deg)}
}
@keyframes out-bottom {
    from  {transform: rotate3d(1,0,0,90deg)}
    to    {transform: rotate3d(0,0,0,0deg)}
}
.in-left .hide,
.out-left .hide {
          transform-origin: 100% 0;
          transform: translate3d(-100%,0,0) rotate3d(0,-1,0,90deg);
}
@keyframes in-left {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(0,1,0,90deg)}
}
@keyframes out-left {
    from  {transform: rotate3d(0,1,0,90deg)}
    to    {transform: rotate3d(0,0,0,0deg)}
}
.in-left .picBox{
          animation-name: in-left;
          animation-play-state: running;
}
.out-left .picBox{
          animation-name: out-left;
          animation-play-state: running;
}













/*阿里 iconfont 库代码*/
@font-face {
  font-family: "iconfont"; /* Project id 3859637 */
  src: url('//at.alicdn.com/t/c/font_3859637_8lz3da7nnyg.woff2?t=1688521113060') format('woff2'),
       url('//at.alicdn.com/t/c/font_3859637_8lz3da7nnyg.woff?t=1688521113060') format('woff'),
       url('//at.alicdn.com/t/c/font_3859637_8lz3da7nnyg.ttf?t=1688521113060') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuniyingpan:before {
  content: "\ea6c";
}

.icon-guanyuwomen:before {
  content: "\e61e";
}

.icon-dingyue:before {
  content: "\e600";
}

.icon-pengyoufill:before {
  content: "\e745";
}

.icon-diqiu:before {
  content: "\e7b9";
}

.icon-wangzhan:before {
  content: "\e628";
}

.icon-chuansong:before {
  content: "\e602";
}

.icon-icon-:before {
  content: "\e62a";
}

.icon-lianjie:before {
  content: "\eadc";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-jiankong:before {
  content: "\eb37";
}

.icon-geren:before {
  content: "\e670";
}

.icon-shuji1:before {
  content: "\e6b7";
}

.icon-momo:before {
  content: "\e8d9";
}

.icon-tongji2:before {
  content: "\e61a";
}

.icon-tongjifenxi-xiangmubiaogetongji:before {
  content: "\e626";
}

.icon-train1:before {
  content: "\e742";
}

.icon-ic_fly:before {
  content: "\e6bb";
}

.icon-a-BlackHole:before {
  content: "\e95a";
}




























.tocbot-link {
    color: #d8d9da;
}

.toc-header, .toc-header > i {
    color: #d9dbdc;
}

.vvd_footer {
	color: #d9dbdc;
}
.vvd_footer a:link, 
.vvd_footer a:visited { 
	color:#d8d9da;
	text-decoration:none; 
} 

.vvd_footer a:hover, 
.vvd_footer a:active { 
	color:#40b9ee; 
	text-decoration:none; 
}

#leancloud-site-pv-container {
	color: #d9dbdc;
}

#leancloud-site-uv-container {
	color: #d9dbdc;
}

p.admonition-title {
    position: relative;
    margin: -0.8rem -0.6rem 0.8em -0.6rem!important;
    padding: 0.7rem 0.6rem 0.7rem 1.5rem;
    font-weight: 700;
    background-color: rgba(66,185,131,.1);
}

.admonition {
    font-size: .9em!important;
	line-height: 2;
}

.admonition {
    margin: 1.5625em 0;
    padding: 0.6rem;
    overflow: hidden;
    font-size: .64rem;
    page-break-inside: avoid;
    border-left: 0.3rem solid #42b983;
    border-radius: 0.3rem;
    box-shadow: 0 .1rem .4remrgba(0,0,0,.05),0 0 .05remrgba(0,0,0,.1);
    background-color: #fafafa;
}


p.admonition-title-blue {
    position: relative;
    margin: -0.8rem -0.6rem 0.8em -0.6rem!important;
    padding: 0.7rem 0.6rem 0.7rem 1.5rem;
    font-weight: 700;
    background-color: rgba(0,185,222,.1);
}

.admonition-blue {
    font-size: .9em!important;
	line-height: 2;
}

.admonition-blue {
    margin: 1.5625em 0;
    padding: 0.6rem;
    overflow: hidden;
    font-size: .64rem;
    page-break-inside: avoid;
    border-left: 0.3rem solid #00b8d4;
    border-radius: 0.3rem;
    box-shadow: 0 .1rem .4remrgba(0,0,0,.05),0 0 .05remrgba(0,0,0,.1);
    background-color: #fafafa;
}

::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}<link rel="stylesheet" href="/css/spoiler.css" type="text/css"><script src="/js/spoiler.js" type="text/javascript" async></script>