#calinfoout {background-color:#EEEEEE;width:258px;}
.calinfoinner {padding:5px;border-top:1px solid #262626;border-left:1px solid #262626;border-right:2px outset #262626;border-bottom:2px outset #262626;}
#sciout {width:710px;}
.calc-sci, .calc-stand {float: left;width: 50%;display: table;}
.calc-sci div,
.calc-stand div {border-collapse: separate;border-spacing: 7px 4px;}
.calc-stand {float: right;}
#calinfoout input {width:45px;height:30px;margin:2px;background-color:#FFF;font-family:arial,helvetica,sans-serif;font-size:17px;border:1px solid #262626;}
#calinfoout #calInfoOutPut {width:242px;font-size:22px;padding:3px;cursor:text;text-align:right;background-color:#B8C6A3;color:#000000;}
#calinfoout .calinfonm {color:#FFF;font-weight:bold;background-color:#262626;}
#calinfoout .calinfoop {color:#262626;font-weight:bold;background-color:#cccccc;}
#calinfoout .calinfoeq {color:#FF0000;font-weight:bold;background-color:#DCADB0;}
#calinfoout .calinfofunc {color:#185290;font-weight:bold;background-color:#C8D8E8;height:23px;padding-bottom:1px;}
#sciPut {-webkit-border-radius:.33333rem;-moz-border-radius:.33333rem;border-radius:.33333rem;-moz-box-shadow:0 2px 3px rgba(0,0,0,0.37) inset,0 1px 1px rgba(0,0,0,0.13);-webkit-box-shadow:0 2px 3px rgb(0 0 0 / 37%) inset,0 1px 1px rgb(0 0 0 / 13%);box-shadow:0 2px 3pxrgba(0,0,0,0.37) inset,0 1px 1pxrgba(0,0,0,0.13);background:#fcfdea;padding:.5rem;box-shadow:inset -1px -1px 1px 0 rgb(255 255 255 / 80%);box-shadow:inset 1px 1px 1px 0 rgb(40 49 85 / 40%);background:#fff;margin:8px;}
#sciout {padding: 6px;border:#e5e5e5 solid 1px;border-radius: .33333rem;background:#EAECF3;margin: auto;}
#sciout label {cursor:pointer;margin:0;display:inline-block;margin-right:0px;font-size: 16px;font-family: arial,helvetica,sans-serif;width: 50%;}
#sciout label input {margin-top:0;border: none;}
.scihistorybox {width: 720px!important;}
#sciOutPut {margin:2px;cursor:text;text-align:right;background-color:#336699;border:1px solid #336699;border-radius:0px;color:#fff;border:0;-webkit-appearance:none;font-size:2.88889rem;color:#333;text-align:right;background:0;}
.scifunc {display:table-cell;vertical-align:middle;text-align:center;width:64px;height:38px;border:none;border-radius:3px;font-family:arial,helvetica,sans-serif;font-size:16px;font-weight:bold;color:#000;cursor:pointer;background-color:#e5ecf3;background-image:linear-gradient(135deg,#D9DCE8,#E2E4EF);text-align:center;border-radius:10px;box-shadow: inset 1px 1px 2px -2px rgb(255 255 255 / 80%), inset -1px -1px 1px 0px rgb(40 49 85 / 30%), 0px 0px 0px 0px rgb(40 49 85 / 10%);user-select:none;color:#283155;opacity:1 !important;}
.scifunc:hover {background:#cfd2e0;cursor:pointer;}
.scifunc:active {box-shadow:none;color:#747a92;transform:scale(0.95);text-shadow:none;background:#cfd2e0;}
.scinm {display:table-cell;vertical-align:middle;padding:0px;text-align:center;width:64px;height:38px;;border-radius:10px;font-family:arial,helvetica,sans-serif;font-size:16px;font-weight:bold;color:#000;cursor:pointer;background-image:linear-gradient(135deg,#F4F5F6,#fff);box-shadow: inset 1px 1px 2px -2px rgb(255 255 255 / 80%), inset -1px -1px 1px 0px rgb(40 49 85 / 30%), 0px 0px 0px 0px rgb(40 49 85 / 10%);font-size:20px;user-select:none;color:#283155;opacity:1 !important;}
.scinm:hover {background:#DFE0E5;}
.scinm:active {box-shadow:none;color:#747a92;transform:scale(0.95);text-shadow:none;background:#cfd2e0;}
.sciop {display:table-cell;vertical-align:middle;text-align:center;width:64px;height:38px;;border:none;font-family:arial,helvetica,sans-serif;font-size:16px;font-weight:bold;color:#000;cursor:pointer;background-color:#e5ecf3;background-image:linear-gradient(135deg,#D9DCE8,#E2E4EF);text-align:center;border-radius:10px;box-shadow: inset 1px 1px 2px -2px rgb(255 255 255 / 80%), inset -1px -1px 1px 0px rgb(40 49 85 / 30%), 0px 0px 0px 0px rgb(40 49 85 / 10%);user-select:none;color:#283155;opacity:1 !important;}
.sciop:hover {background:#cfd2e0;}
.sciop:active {box-shadow:none;color:#747a92;transform:scale(0.95);text-shadow:none;background:#cfd2e0;}
.scird {display:inline-block;width:132px;display:table-cell;vertical-align:middle;text-align:center;height:30px;border-radius:10px;font-family:arial,helvetica,sans-serif;font-size:13px;color:#262626;font-family:arial,helvetica,sans-serif;color:#262626;background:#cfd2e0;border-radius:10px;/* height:54px;*/    user-select:none;box-shadow:inset -1px -1px 1px 0 rgb(255 255 255 / 70%),inset 1px 1px 1px 0 rgb(40 49 85 / 20%),1px 1px 3px 0 rgb(40 49 85 / 10%);justify-content:space-between;}
.scieq {display:table-cell;vertical-align:middle;padding:0px;text-align:center;width:64px;height:38px;;/* border:1px solid #336699;*/    border-radius:10px;font-family:arial,helvetica,sans-serif;font-size:16px;font-weight:bold;color:#000;background-color:#aec0d3;cursor:pointer;box-shadow:inset 1px 1px 1px 0px rgb(255 255 255 / 20%),inset -2px -2px 1px 0px rgb(40 49 85 / 30%),1px 1px 3px 0px rgb(168 174 199 / 20%);background:#4f6ef2;color:#fff;}
.calc-key-ac {background-image:linear-gradient(135deg,#FFA80E,#FFC355);color:#fff;font-size:20px;}
.scieq:active {box-shadow:none;color:#747a92;transform:scale(0.95);text-shadow:none;background:#cfd2e0;}
#scihistory {clear:both;}
#scihistory,#scihistory div {font-size:13px;color:#888;text-align:right;overflow:hidden;width:auto;margin-right: 4px;}
#sciInPut {overflow:hidden;width:auto;margin:2px;word-wrap:break-word;margin-bottom:-2px;font-size:16px;opacity:0.5;margin-left:28px;text-align:right;line-height:1;color:#283155;padding-top:6px;white-space:nowrap;overflow-x:auto;overflow-y:hidden;}
#sciInPut b {color:#ccc;font-weight:bold;}

@media screen and (max-width: 481px) {
	#sciout {width: initial;padding: 16px 8px 8px 8px;border: none;border-radius: 0;}
	.scihistorybox {width: initial!important;}
	#sciInPut {font-size:14px;}
	#sciPut {margin: 6px;margin-top:0;}
	#sciOutPut {font-size: 2.2rem;}
	.calc-sci, .calc-stand {width: 100%;}
	.calc-sci {float: inherit;}
	.sciop, .scinm,.sciop, .scieq, .scifunc {width: 18%;margin: 2px 1%;line-height: 35px;height: 35px;}
	#sciout label input[type="radio"]:checked + b {line-height: 35px;height: 35px;}
	.scird {width: 38%;margin: 2px 1%;line-height: 24px;height: 35px;}
    .calc-sci div,
    .calc-stand div,
	.calc-sci div,
	.calc-stand div {display:flex}
	.calc-sci, .calc-stand {border-spacing: 2px;}
}
