.inner-logo span {position:absolute;width:1px;height:1px;padding:0;margin:-1px;border:0;clip:rect(0 0 0 0);overflow:hidden;}
.main {position: relative;}
.main p.index-info {margin: 20px 0 0 0;}
.ico-hot {display: inline-block;background: url(public/image/hot.gif);width: 9px;height: 14px;}
h1 {margin-bottom: 10px;}
h2 {padding: 0;color: #999999;text-align: center;margin-bottom: 10px;margin-top: 5px;font-size: 14px;font-weight: inherit;}
h3.sub-title {display: inline-block;font-size: 14px;font-weight: bold;margin: auto;}
.index-main {max-width: 740px;margin:auto;position: relative;}
.mainbox{max-width: 600px;margin:auto;}
.index-main textarea.json_input {border:1px solid #e2e3ea;font-size: 14px;line-height: 180%;display: block;margin:10px auto 20px;width:calc(100% - 24px);_width:740px;*width:740px;letter-spacing: 1px;}
.toolnav {display:none;}
.transform-info {height: 1px;overflow: hidden;}
.transform-info p {margin: 0;color:#666666;}
.transform-info strong {min-width: 130px;display: inline-block;text-align: right;}
.hotIndex {clear:both;}
.hotIndex h3 {margin: 10px 0;font-size: 16px;color: #000000;font-weight: bold;}
.hotIndexBox {display: flex;flex-wrap: wrap;flex-direction: row;align-content: space-around;justify-content: center;align-items: flex-start;padding-top:30px;}
.hotIndexBox .hotItem {width:180px; margin:0 15px}
.hotIndexBox .hotItemImg {width:180px;height:80px;}
.hotIndexBox .hotItem img {width: 180px;height: 80px;}
.hotIndexBox .hotItem img:hover {transform: scale(1.1);transition: transform .5s ease-in;}
.hotIndexBox .hotItem p {font-size: 14px;line-height: 24px;overflow: hidden;margin-bottom: 0;margin-top:10px;line-height: 20px;}
.hotIndexBox .hotItem a {color:#000000}
.othertoolscontent {border: none;}
.othertoolstitle {margin-top: 20px;line-height: 30px; height: 30px;border-bottom: none;}
.othertoolstitle li { border-right:none;}
.othertoolstitle li.active {background: #d3d3d3;border-radius: 30px;}
.subnavindexlist a {width:24%}
.subnavindexlist span {float: right;color: #dddddd;margin-right: 10px;font-size: 12px;font-style: italic;}
#btns {margin-bottom:10px;text-align: center;margin-top: 16px;}
#btns a {cursor: pointer;padding: 3px 12px;margin: 0 4px;background: #fafdfd;color: #9195a3;border: 1px solid #EAECF3;padding: 3px 12px;border-radius: 3px;text-decoration: none;}
#btns a:hover {background: #ffeddd;color: #df713d;border: 1px solid #f1cfc4;}
#jisuan {max-width:500px;}
.jsqChk {background: #029948;color: #ffffff;border: 1px solid #029948;padding: 3px 12px}
.subnav-type a{width:10%;}
.hiddenArea {position:absolute;width:1px;height:1px;padding:0;margin:-1px;border:0;clip:rect(0 0 0 0);overflow:hidden;}
.showArea {position: initial;width: initial;height: inherit;margin: inherit;overflow: inherit;}
.scihistorybox {width: 614px;margin: auto;}
.scihistorytitle {text-align: right;color: #999999;font-size: 12px}
.scihistorytitle strong {display: inline-block;margin: 10px 0;color: #333333;font-size: 14px}
#scihistory div {font-size: 14px;border-top: 1px solid #dddddd;padding-top: 6px;margin-bottom: 6px;color: #333333;}
#sciout label b {color: #283155;}
#sciout label input[type="radio"]{appearance: none; -webkit-appearance: none;opacity: 0; outline: none;position: absolute;left: 0;top: 0;z-index: -1;}
#sciout label input[type="radio"]:checked + b{background-position: 0 0;background: #E3E5F0;display: inline-block;text-align: center;width: 65px;height: 38px;line-height: 38px;border-radius: 10px;box-shadow: inset 1px 1px 3px -1px rgb(255 255 255 / 80%), inset -1px -1px 3px 0px rgb(40 49 85 / 30%), 0px 0px 0px 0px rgb(40 49 85 / 10%);font-size: 16px;user-select: none;opacity: 1;}

@media screen and (max-width: 481px) {
   h2 {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;border: 0;clip: rect(0 0 0 0);overflow: hidden;}
  .container {margin-top:0;}
  .container .toolnav {margin-top: 14px;}
  .mainbox {border: none;padding: 0;background: none;max-width:inherit}
  .index-main {width:100%!important;}
  .index-main textarea.json_input {border: 2px solid #c4c7ce;}
  .hotIndex {clear:both;border-top: 1px solid #ececec;}
  .wxxcxbox {display:none;}
  textarea.json_input{width: calc(100% - 24px);}
  .flink {display:none;}
  .btn, .submit {padding: 5px;display: inline-block;}
  .hotIndexBox {padding-top: 15px;justify-content: space-around;}
  .hotIndexBox .hotItem {width:47%; margin:0;}
  .hotIndexBox .hotItemImg {width:100%;height: 60px;}
  .hotIndexBox .hotItem img {width: 100%;height:60px; overflow: hidden;border-radius: 4px;}
  .hotIndexBox .hotItem p {line-height:20px;margin-top:8px;}
  .subnavindexlist a {width:auto;}
  .subnavindexlist a:nth-child(5n+5) {border-bottom:1px solid #ececec;margin-bottom:10px;padding-bottom: 10px; }
  .subnavindexlist span {display:none;}
  .calculator_bd .calculator_table .cal_btn {height: 2.97778rem;line-height: 2.97778rem;}
  .scihistorybox {width: initial;padding: 0px 8px 8px 8px;}
}

.flink {display:block;margin:auto;max-width: 600px;} .flink li {display:inline;}
.handleResult {text-align:center;color:#4CAF50;height:16px;position:absolute;right:0px;top:0;background:#4CAF50;color:#ffffff;font-size:12px;border-radius:3px;}

.wxxcxbox {position:relative;}
.wxxcxbox:hover .wxxcx {display:block;}
.wxxcx {position: absolute;right: 10px;top: 60px;border: 1px solid #f0f0f0;z-index: 999;display: none;}
@media screen and (max-width: 481px) {
  .wxxcxbox{display:none;}
  .main {padding:0;}
  .main p {padding:0 20px;}
  h1{display:none;}
  #btns{display:none;}
}